/****************** custom styles *******************/


.wrapper {

	margin-top: 5rem;
}

.content {
	float: right;
	padding: 2em 3em 0;
	min-height: 100vh;
}

.section-heading {
	border-bottom: 3px solid #e6e6e6;
	font-size: 1.4em;
	margin: 0 0 20px 0;
}

.circular {
	width: 60px;
	height: 60px;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	background: url(/images/assets/ida-sva.png) no-repeat;
	margin: 0.3rem auto 0.1rem 0;
	}

.top-bar-section ul li {
    background: none;
    color: #638C57;
    margin: 1rem auto 0 0;
    

}
.top-bar-section ul li > a {
	font-size: 1.2em;

}

nav {
	font-family: $header-font-family;
	
}

.home {
	font-size: 1.2em;
}

.disapear {
	animation-name: fadeout;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}



.sticky.contain-to-grid {
	padding: 0.2rem 0;
	border-bottom: 1px solid #aaa;
	min-height: 83px;
	font-family: $header-font-family;
}

a img {
    border: 0px none;
}



@media only screen and (min-width: 120.063em) {

.top-bar {
	padding: 0.575rem 3rem;

}

.top-bar li, .circular {
	margin-right: 1rem;

}


.project-image {
	height: 250px;

}

.project-image img {
	margin: -80px 0 0 0;
}

.sticky {

	min-height: 80px;
}


}

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
/*

.top-bar {
	padding: 0.875rem 5rem;
}

*/



.project-image {
	height: 250px;

}

.project-image img {
	margin: -80px 0 0 0;
}



 }

@media only screen and (min-width: 64.063em) and (max-width: 90em) {



.circular {
	margin-right: 1rem;

}



.project-image {
	height: 200px;

}

.project-image img {
	margin: -80px 0 0 0;
}


}


@media only screen and (min-width: 40.063em) and (max-width: 64em) { 


.project-image {
	height: 200px;

}

.project-image img {
	margin: -80px 0 0 0;
}


.top-bar {
    padding: 0.875rem 3rem;
}



// .top-bar li a:not(.button) {
// 	padding: 0.4375rem 0.2rem;
// }


}



@media only screen and (max-width: 40em) {

.top-bar-section ul li {
    float: left;
}

.sticky.contain-to-grid {
    padding: 0;
    min-height: 33px;
}


.top-bar .title-area {
    float: left;
}

.top-bar {
    overflow: visible;
    height: 2.8125rem;
    line-height: 2.8125rem;
    position: relative;
    background: #FFFFFF;
    margin-bottom: 0;
    padding: 0.075rem 1.6rem;

}

.top-bar .title-area {
	width: 60px;
	margin: 0 auto;
} 

.top-bar-section {

}


.top-bar-section ul li > a {
	padding: 6px 0.4rem;
	font-size: 0.8em;


}


.top-bar-section ul {
	font-size: 0.9em;
}

.right {
	float: none !important;
}

.top-bar:before, .top-bar:after {
    content: " ";
    display: table;
}



.left {
	float: none !important;
}


.content {
	clear: both;
}


.sidebar li {
display: inline-block;
zoom: 1;

}

.circular {
	margin: 0.2rem auto;

}

.sidebar {
text-align: center;
margin: 1.5em;
padding: 0;
list-style: none;
position: static; 


}

.post-title, .post-date {
	text-align: center;
}

.project-image {
	height: 125px;

}


.project-image img {
	margin: -40px 0 0 0;
}

.project-image img {
	margin: 0;
}

.columns.sidebar {

	padding: inherit 3rem;
}


}



blockquote {
    padding: 15px 20px 15px 30px;
}

blockquote::before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 40px;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 5px;
    top: 3px;
}


/*********** Footer positiining ***/

.site-footer {
	bottom: -10;
	position: absolute;
	margin-top: 15px;
}

.wrapper {min-height: 100%;}





/********* TYpography Fixes ***/

.subheader {
	border-bottom: 1px solid $jumbo;
}


a {
	display: inline-block;
	transition-property: color;
 	  transition-duration: 0.2s;
}


p a {
	display: inline-block;
	text-decoration: none;
	border-bottom: 0px solid inherit;
	transition-property: border-bottom, color, background;
 	  transition-duration: 0.2s;
}

p a:hover {
	border-bottom: 1px solid inherit;
	background: hsla(0, 0, 0, 0.025);

}

.block-th {

	line-height: 0;
display: inline-block;
border: solid 4px #FFFFFF;
max-width: 100%;
box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
transition: all 200ms ease-out;

}

// bloqkquotes

blockquote{
  display:block;
  background: $white-smoke;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid $secondary-color;
  border-right: 2px solid $secondary-color;
  

}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}



/**
* Projects Index
*/


.project-image {
	width: 100%;

	overflow: hidden;
}

.project-image img {

	width: 100%;
}

.project-link a {
	color: $jet;
	width: 100%;
}

.project-link h2 {
	color: $primary-color;
}



li.project-link {
      display: block;
      padding: 0.4375rem 0;
      transition-property: background-color, color;
 	  transition-duration: 0.2s;
    
      &:hover,
      &:focus {
        background: hsla(0, 0, 0, 0.125);
        //h2 {
        //	color: scale-color($primary-color, $lightness: 30%);
        //}
      }
    }


// .top-bar li a:not(.button) {
// 	transition-property: background-color, color;
//  	  transition-duration: 0.2s;
// }





/**
 * Page content
 */

.post-date{
font-weight: 300;
font-family: "europa", "Futura LT", san-serif;
font-size: 12px;
color: $base;
text-transform: uppercase;
}

.post-meta {
font-weight: 400;
font-family: "europa", "Futura LT", san-serif;
font-size: 1rem;
line-height: 0.5rem;
color: $base;
}

.post-list {
    margin-left: 0;
    list-style: none;
    display: block;

}

.post-list h3 {
    margin-top: 0.1rem;
    line-height: 1.2;

}

.post-link li {
	padding: 2.2rem 0;
}

.post-link {
    display: block;

}

.post-content img {
	width: 100%;
}



/*

.post-meta {
    color: $charcoal;
}

.page-heading {
    font-size: 20px;
}




*/

/**
 * Posts
 */

 .post-content p {
 	font-weight: lighter;
 }

/*
.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

}




.post-content p {
	color: #7F8C8D;
font-size: 14px;
margin-top: 1em;
line-height: 17px;
font-weight: lighter;

}
*/

.alignleft {
	float: left;
	margin-right: 1rem;
}

.alignright {
	float: right;
	margin-left: 1rem;
}

.nav-sticks {
	padding: 0; 
	margin: -1rem 0 0 0 ;
	
}
