/****************** custom styles *******************/

body {
	font-weight: normal;
}




/* HERO ----------------------------------
----------------------------------------- */

.hero {
	background-image: url(/images/self/20160411-20160411-0409-Peter-Prato-vert.jpg);
	background-size: 100%;
	color: white;
	padding: 12rem 0;
	height: 800px;
}

.hero h1 {
	color: rgba(255,255,255,0.9);
}




/* GENERAL ----------------------------------
----------------------------------------- */

.content {
	padding: 5em 0 1em;
	min-height: 100vh;
}

.section-heading {
	border-bottom: 3px solid #e6e6e6;
	font-size: 1.4em;
	margin: 0 0 20px 0;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px

}


/* NAV ----------------------------------
----------------------------------------- */

.top-bar-section ul li {
    background: none;
    color: #638C57;
    margin: 0 auto 0 0;


}

.top-bar-section h2 a {

	color: black;

}

.top-bar-section ul.right li {
      margin: 0.3rem auto 0 0;


}


.top-bar-section ul li > a {
	font-size: 1.2em;

}

.top-bar-section .left ul li a {
    background: none;
    color: black;
    margin: 1rem auto 0 0;


}

nav {
	font-family: $header-font-family;

}

.home {
	font-size: 1.2em;
}

.disapear {
	animation-name: fadeout;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}



.sticky.fixed {
	padding: 0.2rem 0;
	border-bottom: 1px solid #aaa;
	min-height: 65px;
	font-family: $header-font-family;
	background: white;
}

a img {
    border: 0px none;
}



.project-image {
	height: 250px;

}

.project-image img {
	margin: -80px 0 0 0;
}

.sticky.fixed {

	min-height: 80px;
	background: white;
}


.words .post-header {


}

.words .post-content {


}


@media only screen and (min-width: 90.063em) and (max-width: 120em) {


	.hero {
		padding: 12rem 0;
		height: 800px;
	}


.project-image {
	height: 250px;

}

.project-image img {
	margin: -80px 0 0 0;
}



 }

@media only screen and (min-width: 64.063em) and (max-width: 90em) {



	.hero {
		margin-top: 1rem;
		padding: 11rem 0;
		height: 700px;

	}


.project-image {
	height: 200px;

}

.project-image img {
	margin: -20px 0 0 0;
}


}


@media only screen and (min-width: 40.063em) and (max-width: 64em) {


.project-image {
	height: 200px;

}

.project-image img {
	margin: -80px 0 0 0;
}

.hero {
	margin-top: 3rem;
	padding: 14rem 0;
	height: 420px;

}

h2 {
    font-size: 1.5rem;
}

top-bar-section ul {
	font-size: 14px;
}




}



@media only screen and (max-width: 40em) {



.top-bar-section ul li {
    float: left;
}

.top-bar-section h2 {

	font-size: 1.6rem;

}

.hero {
	margin-top: 1rem;
	padding: 9rem 0;
	height: 100px;

}

.hero h1 {
	font-size: 1.7rem;
}

.sticky.fixed {
    padding: 0;
    min-height: 33px;
		background: white;
}


.top-bar .title-area {
    float: left;
}

.top-bar {
    overflow: visible;
    height: 2.8125rem;
    line-height: 2.8125rem;
    position: relative;
    background: #FFFFFF;
    margin-bottom: 0;

}

.top-bar .title-area {
	width: 60px;
	margin: 0 auto;
}

h1.home-title {
	margin: 0 0 0.67em 0;
}

.top-bar-section .left h3 a {
	color: black;
}


.top-bar-section ul li > a {
	padding: 6px 0.4rem;
	font-size: 0.8em;


}


.top-bar-section ul {
	font-size: 0.9em;
}

.right {
	float: none !important;
}

.top-bar:before, .top-bar:after {
    content: " ";
    display: table;
}



.left {
	float: none !important;
}


.content {
	clear: both;
}


.sidebar li {
display: inline-block;
zoom: 1;

}

.circular {
	margin: 0.2rem auto;

}

.sidebar {
text-align: center;
margin: 1.5em;
padding: 0;
list-style: none;
position: static;


}

.post-title, .post-date {
	text-align: center;
}

.project-image {
	height: 125px;

}


.project-image img {
	margin: -40px 0 0 0;
}

.project-image img {
	margin: 0;
}

.columns.sidebar {

	padding: inherit 3rem;
}


}



blockquote {
    padding: 15px 20px 15px 30px;
}

blockquote::before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 40px;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 5px;
    top: 3px;
}





/********* TYpography Fixes ***/

.subheader {
	border-bottom: 1px solid $jumbo;
}

h1 {
	font-size: 2.25rem;
}

h3 {
	font-size: 1.75rem;
	padding: 12px 0 8px;
}


a {
	display: inline-block;
	transition-property: color;
 	  transition-duration: 0.2s;
}


p a {
	display: inline-block;
	text-decoration: underline;
	border-bottom: 0px solid inherit;
	transition-property: border-bottom, color, background;
 	  transition-duration: 0.2s;
}


p a:hover {
	border-bottom: 1px solid inherit;
	background: hsla(0, 0, 0, 0.025);

}

.block-th {

	line-height: 0;
display: inline-block;
border: solid 4px #FFFFFF;
max-width: 100%;
box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
transition: all 200ms ease-out;

}

// bloqkquotes

blockquote{
  display:block;
  background: $white-smoke;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;

  /*Borders - (Optional)*/
  border-left: 15px solid $secondary-color;
  border-right: 2px solid $secondary-color;


}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}



/**
* Projects Index
*/


.project-image {
	width: 100%;

	overflow: hidden;
}

.project-image img {

	width: 100%;
}

.project-link a {
	color: $jet;
	width: 100%;
}

.project-link h2 {
	color: $primary-color;
}



li.project-link {

      transition-property: background-color, color;
 	  transition-duration: 0.2s;

      &:hover,
      &:focus {
        background: hsla(0, 0, 0, 0.125);
        //h2 {
        //	color: scale-color($primary-color, $lightness: 30%);
        //}
      }
    }


/**
 * Page content
 */

.post-date{
font-weight: 300;
font-family: "europa", "Futura LT", san-serif;
font-size: 12px;
color: $base;
text-transform: uppercase;
}

.post-meta {
font-weight: 500;
font-family: "europa", "Futura LT", san-serif;
font-size: 1rem;
line-height: 0.5rem;
color: $base;
}

.post-list {
    margin-left: 0;
    list-style: none;
    display: block;

}

.post-list h3 {
    margin-top: 0.1rem;
    line-height: 1.2;

}

.post-link li {
	padding: 2.2rem 0;
}

.post-link {
    display: block;

}

.post-content img {
	width: 100%;
}



.alignleft {
	float: left;
	margin-right: 1rem;
}

.alignright {
	float: right;
	margin-left: 1rem;
}

.nav-sticks {
	padding: 0;
	margin: -1rem 0 0 0 ;

}
