<p>
<br />
Email: <a href="mailto:&#105;&#100;&#097;&#064;&#117;&#110;&#099;&#111;&#109;&#109;&#111;&#110;&#112;&#108;&#097;&#099;&#101;&#115;&#046;&#099;&#111;&#109;">ida -at- uncommonplaces . com</a> 
<br />
Home Base: DUMBO, Brooklyn, NYC
</p>
<p>
Elsewhere online:   <br />
<a href="http://www.twitter.com/idamantium" target="_blank"> Twitter</a> | <a href="http://www.linkedin.com/in/idabenedetto/" target="_blank">LinkedIn</a> | <a href="http://instagram.com/idamantium" target="_blank">Instagram</a> | <a href="https://github.com/idamantium" target="_blank">GitHub</a>
</p>

<p>
Infrequent updates: 


</p>