<!-- Uses Formspree and this code:https://jsfiddle.net/228d4snb/, including formspree.js file -->


<h4>Infrequent Updates:</h4>

<form id="contact-form" action="http://formspree.io/list-reply@lists.uncommonplaces.com" method="post">

<div class="row collapse">
        <div class="medium-7 small-9 columns">
          <input type="email" name="email" id="email" onchange="updateInput(this.value)" placeholder="">
        </div>
        <div class="medium-3 small-3 columns end">
          <input class="button postfix info" type="submit" id="subscribe" name="subscribe" value="Sign Up">
        </div>
      </div>  

      <!-- configuration -->
    
  <input type="hidden" name="_subject" value="New Subscriber" />
  <input type="text" name="_gotcha" style="display:none" />


</form>

