<footer class="site-footer">

  <div class="wrapper">
    <div class="row">
      <div class="12-large columns">
      <h2 class="footer-heading">{{ site.title }}</h2>
    --- <br />
    © 2006 - <script language="JavaScript" type="text/javascript">
    now = new Date
    theYear=now.getYear()
    if (theYear < 1900)
    theYear=theYear+1900
    document.write(theYear)
    </script> <a href="mailto:ida@uncommonplaces.com">Ida C. Benedetto</a> and/or respective collaborators


      <div class="footer-col  footer-col-3">
        <p class="text"> <!-- {{ site.description }} --></p>
      </div>
    </div>
    </div>
  </div>



    <script src="{{ "/js/vendor/jquery.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/formspree.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/foundation.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/slick/slick.min.js" | prepend: site.baseurl }}"></script>
    <link rel="stylesheet" href="js/slick/slick.css"/>
  <link rel="stylesheet" href="js/slick/slick-theme.css"/>
    <script>
     $(document).ready(function(){
      $('.slideshow').slick({
      });
    });

    </script>


</footer>
