



<div class="large-12 columns nav-sticks">

<div class="sticky fixed">

    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">


      <div class="wrapper">

      <div class="top-bar-section">
          <ul class="left">
              <li><h2><a href="/">  Ida C. Benedetto <!-- <li class="circular"> </li> --> </a></h2></li>
          </ul>
      </div>

      <section class="top-bar-section">
        <ul class="right">
      	<li>
      		<a href="/about-ida/">About</a>
      	</li>
      	<li>
      		<a href="/projects/">Projects</a>
      	</li>
      	<li>
      		<a href="/words/">Words</a>
      	</li>
      	<li>
      		<a href="/contact/">Contact</a>
      	</li>
        </ul>
      </section>

      </div>

    </nav>



</div>

</div>
