<div class="small-12 medium-12 columns nav-sticks">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>


<div class="contain-to-grid sticky fixed">

<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">


<ul class="title-area">
<a href="/"><li class="circular"> </li></a>
</ul>

      <section class="top-bar-section">
        <ul class="right">
      	<li>
      		<a href="/about-ida/">About</a>
      	</li>
      	<li>
      		<a href="/projects/">Projects</a>
      	</li>
      	<li>
      		<a href="/words/">Words</a>
      	</li>
      	<li>
      		<a href="/contact/">Contact</a>
      	</li>
      </ul>
</section>

      <!--
        {% for page in site.pages %}
          {% if page.title %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}

          -->


</div>


    </div>
 
    