  <div class="small-12 medium-2 columns sidebar">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

<ul class="side-nav">

<div class="circular"></div>
      
      	<li>
      		<a href="/about-ida.html">About Ida</a>
      	</li>
      	<li>
      		<a href="/projects.html">Projects</a>
      	</li>
      	<li>
      		<a href="/posts.html">Blog</a>
      	</li>
      	<li>
      		<a href="/contact.html">Contact</a>
      	</li>


      <!--
        {% for page in site.pages %}
          {% if page.title %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}

          -->


      </ul>



    </div>
 
    