---
layout: default
---
<div class="content">
	<div class="wrapper">
	<div class="row">




	<div class="small-12 medium-6 large-5 columns">


	 	 <header class="post-header">
	   	 <h1 class="post-title">{{ page.title }}</h1>
	  	</header>


	 <article class="post-content">

	   	 {% include contact.html %}

	  </article>

	</div>

	<div class="small-12 medium-6 large-7 columns">

		<p>

		<img src="/images/self/8118152086_3f1889156f_o.jpg">
		</p><p>
		<img src="/images/self/IdaBenedetto-DevLabVR.jpg">
		</p><p>
		<img src="/images/self/S0A6719.jpg">
		<p></p>


	</div>

</div>
</div>
