<!DOCTYPE html>
<html>


  {% include head.html %}

  <body>


<div class="row">

    {% include header.html %}

      {% include nav.html %}

      

  	<div class="small-12 medium-12  columns content">

  		<div class="wrapper">


        {{ content }}

        <div class="push"></div>
        </div>

          

        {% include footer.html %}

    </div>

      
     
	</div>

    

</div>

  </body>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>

</html>
