---
layout: default
---

<div class="hero">

	<div class="row">
		<div class="large-6 large-push-6 medium-6 medium-push-6 small-10 small-push-2 columns">
				<h1 class="home-title">I provoke new insight through adventure and play.</h1>
				<img src="{{ page.image  | prepend: site.baseurl }}">
		</div>
	</div>

</div>



<div class="content">
	<div class="wrapper">
		<div class="row">
		<ul class="small-block-grid-1 medium-block-grid-2">

{% for entry in page.box-content %}

<li class="project-link">
	<a href="{{ entry.link }}" target="_blank">
		<h3>{{ entry.title }}</h3>
		<img src="{{ entry.image }}">
    <p>{{ entry.info }}

			  {% if box-content.link-list %}{% for item in box-content.link-list %} <a href="{{ item.sublink }}">{{ item.name }}</a> {% endfor %}{% endif %}

		</p>
		</a>
	</li>


{% endfor %}
</ul>

	</div>
<div class="row">

<div class="large-8 large-push-2 medium-10 medium-push-1 small-12">

	{{ content }}

</div>


</div>

	</div>
</div>

</div>
